# 아구에하 식약청 자료

<br>
* 국민건강영양조사 데이터로 조사대상이 먹은 식품과 양, 영양소 등 정보가 들어있다.
* 2014,2015,2016년 자료를 합하여 과채가공품류를 먹은 모든 데이터를 찾아 연령별, 성별 평균을 구할 것이다.

In [1]:
import pandas as pd
import numpy as np

먼저 3년 간의 자료를 한 데이터프레임으로 합친다.

In [2]:
fourteen_data=pd.read_csv('2014.csv')

In [3]:
fifteen_data=pd.read_csv('2015.csv')

In [4]:
sixteen_data=pd.read_csv('2016.csv')

In [5]:
food_data=pd.concat([fourteen_data,fifteen_data,sixteen_data])

과채가공품에 해당되는 식품코드 전부를 엑셀파일로부터 복사하였다.
불필요한 문자가 섞여있어 split을 통해 list로 저장하였다.

In [6]:
food_code='5004	5005	5006	3033	3034	3035	8009	8017	8002	8038	50321	50322	51132	51283	8082	8086	8100	61180	8107	8167	5047	6037	6273	6289	6312	6311	6370	6381	27041	50302	50304	50308	50309	50310	50359	61179	6384	7036	7019	7026	7027	7048	51280	8182	50353	50354	50355	50356	8023	8026	8027	8040	8041	8043	8050	8051	8062	8070	8071	8190	8068	8075	8083	8084	21011	8081	8087	8089	8099	8094	8095	8096	8097	8106	50329	8126	8122	27040	27078	27095	50313	50315	50317	50318	50326	50327	50330	50332	50335	50337	50339	50349	50358	50360	50363	51284	61181	8129	8130	8128	8134	8142	8150	51131	8145	8146	50319	8152	8153	8154	29054	50328	8165	8161	8162	8209	27042	27099	50320	50334	50336	50338	50350	51136	61137	61183	61184	8170	15112	50770	8010	8020	8021	8024	8025	8069	8080	8098	8105	8123	8124	8125	8147	8148	8149	8163	8164	8166	15002	15005	23001	23002	23003	23157	27029	27033	27034	27080	27094	27098	50316	50324	50325	50333	50344	50351	50357	50761	50769	50782	50792	50825	50863	50865	50869	50885	50889	50896	50899	50905	51130	51197	51205	51206	51231	51285	51362	61182	61221	61222	15001	27032	27038	27049	27076	50739	50824	50838	50839	50840	50841	51282	61178	16036	16069	16054'

In [7]:
food_code=food_code.split('	')

In [8]:
food_data.head()

    NF_INTK N_FCODE     N_FNAME  rage  sex
0  6.681927    2001      감자, 생것     1    1
1  7.055135    2016     고구마, 생것     1    1
2  1.636146    5035      밤, 삶은것     1    1
3  2.657245    6096  당근, 뿌리, 생것     1    1
4  1.889928    6285      양파, 생것     1    1

In [9]:
food_data.shape

(1412532, 5)

과채가공품에 맞는 자료를 찾기위해 데이터프레임의 쿼리 메소드를 사용하였다. <br>
Boolean 값이 나오는 식을 주면 해당하는 데이터만 찾아준다. 반복문으로 모든 자료를 새로운 데이터프레임에 추가하였다.

In [10]:
food_df=food_data.query('N_FCODE==5004')

In [11]:
for i in food_code[1:]:
    food_df=pd.concat([food_df,food_data.query('N_FCODE=='+i)])

결과를 csv파일로 다시 저장하고 groupby를 사용하여, 연령대별, 성별 평균을 구하였다.

In [12]:
food_df.to_csv('fruit.csv')

In [16]:
food_df.groupby(['rage','sex']).mean()

            NF_INTK
rage sex
1    1    74.119981
     2    80.888543
2    1    70.527279
     2    66.393905
3    1    68.613201
     2    68.001154
4    1    60.150424
     2    60.906984
5    1    74.630875
     2    81.582401
6    1    98.892556
     2    75.611833
7    1    57.807116
     2    73.809580
8    1    46.947791
     2    39.423566
9    1    37.214328
     2    26.290218
10   1    26.441259
     2    27.219861
11   1    25.884072
     2    29.289448